<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <div id="container" class="effect mainnav-full">
      <!--NAVBAR-->
      <!--===================================================-->
      <% include partials/header %>
      <!--===================================================-->
      <!--END NAVBAR-->
      <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
          <% include partials/profile_body %>
          <!--Page Title-->
          <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          <div class="pageheader">
            <h3><i class="fa fa-bed"></i> Room List</h3>
            <div class="breadcrumb-wrapper">
              <span class="label">You are here:</span>
              <ol class="breadcrumb">
                <li><a href="#"> Home </a></li>
                <li class="active">Room List</li>
              </ol>
            </div>
          </div>
          <!--Page content-->
          <!--===================================================-->
          <div id="page-content">
            <div class="row">
              <div class="col-md-2">
                <div class="panel panel-default text-center">
                  <div class="panel-body np">
                    <img
                      src="img/photos/big-user-image.jpg"
                      alt="Cover"
                      class="img-responsive"
                    />
                    <div class="text-center pad-btm">
                      <!-- panel body -->
                      <h3>Room No.1</h3>
                      <!--/ panel body -->
                    </div>
                    <ul class="menu-items">
                      <li>
                        <a href="/roomdetail">
                          <i class="fa fa-gear fa-spin fa-fw fa-lg"></i>
                          Check Room
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--===================================================-->
          <!--End page content-->
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
      </div>
      <!-- FOOTER -->
      <!--===================================================-->
      <% include partials/footer %>
      <!--===================================================-->
      <!-- END FOOTER -->
      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn">
        <i class="fa fa-chevron-up"></i>
      </button>
      <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <% include partials/script %>
  </body>
</html>

<!-- <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/socket.io.js"></script>
  <script>
    var socket = io("http://192.168.43.183:3000");
    function sentC() {
      console.log("clllllll");
      socket.emit("message2", "well done");
    }
    socket.on("message3", (data) => {
      console.log(data);
    });
  </script> -->
